@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

:root {
  --cor-primaria: #0e0d19;
  --cor-secundria: #fdf1f1; 
  --cor-terciaria: #f08181;
  --cor-hover: #2e253b;

  --fonte-primaria: "Poppins", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;

  --headline-mobile: 1.5rem;
  --body-mobile: 1rem;
  --button-mobile: 0.87rem;
  --footer-mobile: 0.62rem;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundria);
}

.cabecalho__menu {
  padding: 2% 0% 0% 15%;
  display: flex;
  gap: 80px;
}

.cabecalho__menu__links {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  /* width: 50%; */
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.destaque-titulo {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
}

.apresentacao__links__style {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;  
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px;
  text-decoration: none;
  color: var(--cor-secundria);
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__style:hover {
  background-color: var(--cor-hover);
}

.apresentacao_imagem {
  /* width: 50%; */
  flex: 1 1 300px;
  max-width: 400px;
  margin: 0 auto;
}

.apresentacao_imagem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;     
}


.rodape {
  color:var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 18px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 1230px) {    
  .cabecalho__menu {
    padding: 10% 0% 0% 0%;
    justify-content: center;
  }

  .cabecalho__menu__links {
    font-size: var(--body-mobile);
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 10% 7% 7% 7%;
    gap: 40px;
  }

  .apresentacao_imagem {
    max-width: 300px;    
    width: 100%;         
  }

  .apresentacao__conteudo {
    width: 100%;
    text-align: left;
    gap: 20px;
  }

  .apresentacao__conteudo__titulo {
    font-size: var(--headline-mobile);
  }

  .apresentacao__conteudo__texto , .apresentacao__links__subtitulo {
    font-size: var(--body-mobile);
  }

  .apresentacao__links {
    gap: 24px;
  }

  .apresentacao__links__style {
    font-size: var(--button-mobile);
    padding: 10px 16px;
    align-items: center;
  }     

  .rodape {
    font-size: var(--footer-mobile);
    margin-top: 45px;
  }
}